body{
  font-family: sans-serif;
  background: #1b1b1b;
}
main{
  margin-top: 40px;
}
.logo{
  font-size: 2.5em;
  font-weight: bold;
}
.logo .wht{
  color: #FFF;
}
.logo .yl{
  color: #000;
  background: rgb(255,163,26);
  border-radius: 8px;
  padding: 3px;
  margin-left: 5px;
}
.top-web-header{
  text-align: center;
  padding: 5px;
}
.top-web-header h1{
  color: rgb(254, 194, 96);
}
nav a {
  color: rgb(255,255,255);
  font-size: 1.4em;
  text-decoration: none;
  margin-right: 10px;
}
nav a:hover{
  color: rgb(254, 194, 96);
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 10px;
}
.zoadic-sign-image{
  width: 100%;
  max-width: 150px;
  height: auto;
}
#zoadic-signs{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.zoadic-sign{
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0px solid #000;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(254, 194, 96,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(254, 194, 96,1);
  box-shadow: 0px 0px 10px 0px rgba(254, 194, 96,1);
  width: 35%;
  text-align: center;
  max-width: 400px;
  color: rgb(255,163,26);
  font-size: 1.4em;
  font-weight: bold;
  background: rgb(41,41,41);
}
.astro-card{
  width: 50vw;
  height: 50vh;
  border: 0px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(27,27,27);
  border-radius: 10px;
  padding: 10px;
  display: none;
  -webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
  box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
  padding: 20px !important;
  overflow-y: auto;
  color: rgb(255,255,255);
}
#sign {
  color: rgb(255,163,26);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}
.astro-card #color{
  margin-top: 50px !important;
  font-size: 1.2em;
}
.astro-card #compatibility{
  margin-top: 50px !important;
  font-size: 1.2em;
}
.astro-card #description{
  font-size: 1.3em;
}
.close-btn{
  border: 2px solid rgb(255,163,26);
  color: rgb(255,163,26);
  background: transparent;
  font-size: 1.05em;
  margin: 0 auto;
  border-radius: 8px;
  padding: 4px 10px;
}
.sign-name{
  margin-top: 10px;
}
#main-loader{
  color: red;
}
footer{
  text-align: center;
  color: rgb(254, 194, 96);
}
footer a{
  color: rgb(222, 9, 30);
}
